{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="m-5">
    <div class="row">
        <!-- Main Item Section -->
        <div class="col-md-8 bg-white p-3 border">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for category in categories %}
                <div class="col">
                  <div class="card h-100 bg-info text-white">
                    {% if category.image %}
                    <img src="{{ category.image.url }}" class="card-img-top" alt="Image for {{ category.name }}" height="350">
                    {% endif %}
                    <div class="card-body">
                      <h3 class="card-title">{{category.name}}</h3>
                      <a href="/categories?id={{category.id}}" class="btn btn-primary">View</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Sidebar Section -->
        <div class="col-md-4 bg-light p-3 border">
            <h5>Categories</h5>
            <ul class="list-group">
                {% for category in hierarchy %}
                    {% include "AdminPanel/category_item.html" with category=category %}
                {% endfor %}
            </ul>
        </div>
      
    </div>
  </div>

  {% endblock %}