{% extends 'AdminPanel/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block css %}
<style>
  /* Add any custom styles specific to the dashboard */
</style>
{% endblock %}

{% block body %}
{% if is_first_render %}
<div class="d-flex mx-5 my-2">
  <a href="/adminPanel/category/add" class="btn btn-outline-primary btn-block btn-lg align-self-stretch"><i class="bi bi-diagram-3-fill"></i><i class="bi bi-plus"></i></a>
</div>
{% endif %}

<div>
  <ul class="list-group">
    {% include 'AdminPanel/category_dropdown.html' with hierarchy=hierarchy %}
  </ul>
</div>
{% endblock %}
